<div
  style='display: flex; flex-direction: column; align-items: center; width: 100%'
>
  <h1>Hello <span style='font-size: 2rem;'> {{userName}}</span> 👋</h1>
  <p>Please enter this code
    <span style='font-weight: 700; font-size: 1rem'> {{token}}</span>
    as your one time Password (OTP) to reset your password. This code expires in
    the next 5 mins...</p>
</div>